{% extends "layout.html" %}

{% block body %}

<div class="container">
  <h2>About Us</h2>
  

<p>
    We are a team of MBA students at Yale SOM graduating in 2019. We came to business school with consulting backgrounds and got bitten by the tech bug during our time at school. This website is our attempt to apply some of the recently learned programming knowledge in the CS50 and MGMT656 courses. The website is intended to serve as a platform for users to create and register for events at Yale. We would love to hear your feedback - what you like or what you belive can be improved. If you would like to reach us, dont hesitate to contact one (or all) of us at our e-mails below.    
</p>
<br><br>
<p>
<div class="image-cropper">
    <img id="class-nickname-headshot" src="static/img/AC_imgnew.png" height="120" alt="glorious-pony"/>
   <!-- <img src="static/img/AC_imgnew.png" class="rounded"> -->
</div>
<div class="textnexttoimage">
   <span id="class-nickname-name">glorious-pony</span>
    <br/>
    <b>Post-grad industry:</b> Tech.<br>
    <b>Favorite programming language:</b> Python.<br>
    <b>Fun fact:</b> Can speak 5 languages.<br>
    <b>E-mail Address: </b>aly.crowley@yale.edu <br>
</div>
<br><br>

<div class="image-cropper">
    <img id="class-nickname-headshot" src="static/img/NM_img.jpeg" height="120" alt="zealous-bison"/>
   <!-- <img src="static/img/NM_img.jpeg" class="rounded"> -->
</div>
<div class="textnexttoimage">
    <span id="class-nickname-name">zealous-bison</span>
       <br/>
    <b>Post-grad industry:</b> Consulting <br>
    <b>Favorite programming language:</b> Javascript <br>
    <b>Fun fact:</b><br>
    <b>E-mail Address: </b>nikhil.maddirala@yale.edu<br>

</div>
<br><br>

<div class="image-cropper">
    <img id="class-nickname-headshot" src="static/img/SK_img.jpeg" height="120" alt="curious-ox"/>
    <!-- <img src="static/img/SK_img.jpeg" class="rounded"> -->
</div>

<div class="textnexttoimage">
    <span id="class-nickname-name">curious-ox</span>
       <br/>
       <b>Post-grad industry:</b> Tech <br>
    <b>Favorite programming language:</b> HTML <br>
    <b>Fun fact:</b><br>
    <b>E-mail Address: </b>shikha.kaushal@yale.edu<br>
</div>

{% endblock %}

