{% extends "layout.html" %}

{% block body %}

<body>

<div class="container">
  <h2>List of Events</h2>
   
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      
  <tr>
    <th>Event id</th>
    <th>Event name</th>
    <th>Location</th> 
    <th>Image</th>
    <th>Date</th>
  </tr>
   </thead>
    <tbody>
{% for event in eventsListSQL %}
<tr>
    <td>{{ event.id }}</td>
    <td> <a href="/events/{{ event.id }}">{{ event.title }}</a> </td>
    <td>{{ event.location }}</td>
    <td>{{ event.image }}</td>
    <td>{{ event.date }}</td>
</tr>
{% endfor %}
   </tbody>
</table>
</div>

</body>
</html>


{% endblock %}

{% block late_loading_js %}
{% endblock %}

