{% extends "layout.html" %}

{% block body %}

<body>

<div class="container">
  <h2>Upcoming Events</h2>
   
 <ul>
      {% for event in eventsListSQL %}
      <li class="event" id="event-{{ event.id }}">
        <a href="/events/{{ event.id }}" id="title">{{ event.title }}</a>
        <br />
        <time>{{event.month}}/ {{event.day}}/ {{event.year}} {{event.hour}}:{{event.minute}}</time>
        event-{{event.id}}
      </li>
      {% endfor %}
</ul>

</div>

</body>

{% endblock %}

{% block late_loading_js %}
{% endblock %}