{% extends "layout.html" %}

{% block body %}

{% if errors %}
    <ul class='form-errors'>
        {% for error in errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
<div class="container-confirmation">
    {% if confirmation %}
    <i><b>{{ confirmation }}</b></i>
    {% endif %}
</div>
</div>

<div class="container">
    <br>

<div class="jumbotron">
    <h1 id="title" class="h1-responsive">{{ event.title }}</h1>
    <p><span id="date">
      <b>Date:</b> {{event.month}}/ {{event.day}}/ {{event.year}} 
      </span></p>
      <p><span id="time">
      <b>Time:</b> {{event.hour}}:{{event.minute}}
      </span></p>
    <p class="lead"><b>Description:</b> {{ event.description }}</p>
    <hr class="my-2">

<div class="row">
    <div class="col-md-4">
        <form action="/events/{{ event.id }}" method="post">
        Enter your email address to RSVP:<br>
        <input type="email" placeholder="E-mail address" name="email" id="email"><br>
        <button class="btn btn-primary btn-lg" type="submit">RSVP</button>
        </form>
    </div>
    
    <div class="col-md-4">
        <form action="/events/{{ event.id }}/donate" method="post">
        <br>Want to contribute? <br>
        <a id="donate" type="submit"></a>
        <button class="btn btn-success btn-lg" type="submit" id="donate">Donate</button>
    </div>
    
    <!-- Button code -->
    <div class="col-md-4">
      <br><br>
    <div title="Add to Calendar" class="addeventatc">
    Add to Calendar
      <span class="start">{{event.month}}/{{event.day}}/{{event.year}}</span>
      <span class="end">{{event.month}}/{{event.day}}/{{event.year}}</span>
      <span class="timezone">America/Los_Angeles</span>
      <span class="title">{{event.title}}</span>
      <span class="description">{{event.description}}</span>
      <span class="location">{{event.location}}</span>
</div>
    
</div>
</div>

<br>
<br>

<div class="card border-light mb-3" style="max-width: 100rem;">
  <div class="card-header"><h5>Event Created by: </h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.lastname }}, {{ event.firstname}} ({{ event.emailaddress}})</p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 100rem;">
  <div class="card-header">
    <h5>Event Location</h5></div>
  <div class="card-body">
    <p class="card-text"><span id="location">{{ event.location }}</span></p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 100rem;">
  <div class="card-header">
    <h5>Event Image</h5></div>
  <div class="card-body">
    <img id="image"></img>
    <span id="image">{{ event.image }}</span></p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 100rem;">
  <div class="card-header"><h5>Event Attendees</h5></div>
        <ul class="list-group" id="attendees">
        {% for attendee in attendees %}
        <li class="list-group-item">
          <div class="card-body">
        {{ attendee.email }}
        {% endfor %}
        </div>
        </li>
    </ul>    
    
  </div>

<div class="card border-light mb-3" style="max-width: 100rem;">
  <div class="card-header"><h5>Number of Donations</h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.donations }}
    </p>
  </div>
</div>
<br>
</div>
</div>

{% endblock %}

{% block late_loading_js %}
{% endblock %}
