{% extends "layout.html" %}

{% block body %}

{% if errors %}
    <ul class='form-errors'>
        {% for error in errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
{% endif %}


{% if confirmation %}
{{ confirmation }}
{% endif %}


<div class="container">
    <br>

<div class="jumbotron">
    <h1 id="title" class="h1-responsive">{{ event.title }}</h1>
    <span id="date">
      {{event.month}}/ {{event.day}}/ {{event.year}} {{event.hour}} {{event.minute}}
    </span>
    <p class="lead">Event Description: {{ event.description }}</p>
    <hr class="my-2">

<div class="row">
    <div class="col-md-6">
        <form action="/events/{{ event.id }}" method="post">
        Enter your email address to RSVP:<br>
        <input type="email" placeholder="E-mail address" name="email" id="email"><br>
        <button class="btn btn-primary btn-lg" type="submit">RSVP</button>
        </form>
    </div>
    
    <!-- Button code -->
<div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">12/21/2018 08:00 AM</span>
    <span class="end">12/21/2018 10:00 AM</span>
    <span class="timezone">America/Los_Angeles</span>
    <span class="title">Summary of the event</span>
    <span class="description">Description of the event</span>
    <span class="location">Location of the event</span>
</div>
    
    <div class="col-md-6">
        <form action="/events/{{ event.id }}/donate" method="post">
        <br>Want to contribute? <br>
        <a id="donate" type="submit"></a>
        <button class="btn btn-success btn-lg" type="submit" id="donate">Donate</button>
    </div>
</div>

<br>
<br>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Event Created by: </h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.lastname }}, {{ event.firstname}} ({{ event.emailaddress}})</p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <h5>Event Location</h5></div>
  <div class="card-body">
    <p class="card-text"><span id="location">{{ event.location }}</span></p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <h5>Event Image</h5></div>
  <div class="card-body">
    <img id="image"></img>
    <span id="image">{{ event.image }}</span></p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Event Attendees</h5></div>
  <div class="card-body">
    <p class="card-text">
    <ul class="list-group" id="attendees">
    {% for attendee in attendees %}
            <li class="list-group-item">{{ attendee.email }}</li>
    {% endfor %}
    </ul>    
    
    </p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Number of Donations</h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.donations }}
    </p>
  </div>
</div>
<br>

</div>
</div>

{% endblock %}

{% block late_loading_js %}
{% endblock %}
