{% extends "layout.html" %}

{% block body %}

<div class="container">
    <br>

<div class="jumbotron">
    <h2 class="h1-responsive">{{ event.title }}</h2>
    <p class="lead">Event Description: {{ event.description }}</p>
    <hr class="my-2">

<div class="row">
    <div class="col-md-6">
        <form action="/events/{{ event.id }}/rsvp" method="post">
        Enter your email address to RSVP:<br>
        <input type="text" placeholder="E-mail address" name="email"><br>
        <button class="btn btn-primary btn-lg" type="submit">RSVP</button>
        </form>
    </div>
    
    <div class="col-md-6">
        <form action="/events/{{ event.id }}/donate" method="post">
        <br>Help Support this event, make a contribution!<br>
        <button class="btn btn-success btn-lg" type="submit">Donate</button>
        </form>
    </div>
</div>

<br>
<br>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Event Created by: </h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.lastname }}, {{ event.firstname}} ({{ event.emailaddress}})</p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Event Location</h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.location }}</p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Event Attendees</h5></div>
  <div class="card-body">
    <p class="card-text">{% for attendee in attendees %}
    {{ attendee.email }}
    {% endfor %}
    </p>
  </div>
</div>

<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h5>Number of Donations</h5></div>
  <div class="card-body">
    <p class="card-text">{{ event.donations }}
    </p>
  </div>
</div>
<br>

</div>
</div>

{% endblock %}

{% block late_loading_js %}
{% endblock %}
